body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 30vw;
}

.stats-container {
  position: relative;
  border: solid 1px black;
  width: 300px;
  height: 700px;
}

#mode-select-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.board {
  font-size: 36px;
  border: solid 1px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-start: 2;
  grid-row-start: 2;
}

#top-label {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-start: 2;
  text-align: center;
  height: 50px;
  margin-top: 20px;
}

#left-label {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-row-start: 2;
  text-align: center;
}

.content {
  margin-bottom: 25px;
  width: 575px;
  display: grid;
  grid-template-columns: 75px 500px;
  grid-template-rows: 75px 500px;
}

.squares {
  border: solid 1px;
}

.ship {
  background-color: rgb(97, 169, 202);
}

.hit {
  background-color: rgb(175, 129, 129);
}

.miss {
  background-color: rgb(41, 37, 37);
}

p {
  pointer-events: none;
}
